<!--qa form template-->

{% extends "base.html" %}

{% block content %}
  <h2>Add new QA test result</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add QA test result</button>
  </form>
{% endblock %}

<!-- qa_tests.html -->

{% extends 'base.html' %}

{% block content %}

<h1>QA Tests</h1>

<form method="post">
    {% csrf_token %}
    {{ datepicker }}
    <button type="submit">Go</button>
</form>

{% for date_str, link in date_links.items %}
    <p><a href="{{ link }}">{{ date_str }}</a></p>
{% endfor %}

{% endblock %}
