{% extends "daily_QA/base.html" %}



{% block content %}

{% load static %}



<h2>Daily QA Test for GTR2</h2>

<body>


    <form method="post" onsubmit="greet()">
        {% csrf_token %}
        <label for="lynx-select">Select Lynx:</label>
        <select class="form-control" id="lynx-select" name="lynx-select">
            <option value="none"><i>Select Lynx</i></option>
            <option value="3" id="l3">Lynx 3</option>
            <option value="6" id="l6">Lynx 6</option>
            <option value="5" id="l5">Lynx 5</option>
        </select>

        <label for="komora-select">Select komora:</label>
        <select class="form-control" id="komora-select" name="komora-select">
            <option value="none"><i>Select komora</i></option>
            <option value="3190" id="k3190">FC65 P 3190 500V</option>
            <option value="2132" id="k2132">FC65 P 2132 500V</option>
            <option value="3565" id="k3565">FC65 P 3565 500V</option>
            <option value="4218" id="k4218">FC65 P 4218 500V</option>
            <option value="5414" id="k5414">FC65 P 5414 500V</option>
        </select>
        <tr>MLIC<input type="checkbox" id="mlic-enable"></tr>
        <br>
        <label for="mlic-select">Select MLIC:</label>
        <!-- <select class="form-control" id="mlic-select" name="mlic-select" disabled="disabled"> -->
        <select class="form-control" id="mlic-select" name="mlic-select">

            <option value="none"><i>Select MLIC</i></option>
            <option value="1" id="mlic1">MLIC SN 16351</option>
        </select>

        <table class="table table-striped">
            <thead>
                <tr><th></th><th></th><th></th><th><span id="icon-all"></span></th></tr>
            </thead>
            <tbody>
                <tr id="misc">
                    <td>Temperature [°C]: <input type="number" step="0.01" id="temperature"><span class="check-icon" id="icon-temp"></span></td>
                    <td>Pressure [hPa]: <input type="number" step="0.01" id="pressure" required><span class="check-icon" id="icon-press"></span></td>
                    <td>Dose correction factor: <input type="number" step="0.001" id="k" required><span class="check-icon" id="icon-k"></span></td>
                    <td>k<sub>T,p</sub>:  <b><span id="ktpOut"></span></b></td>
                </tr>
                <tr>
                    <td>Temperature [K]: <span id="tempOut"></span></td>
                    <td>Pressure [hPa]: <span id="presOut"></span></td>
                    <td>k<sub>sat</sub>: <span id="ksatOut"></span> &nbsp;&nbsp;|&nbsp;&nbsp; k<sub>pol</sub>: <span id="kpolOut"></span> &nbsp;&nbsp;|&nbsp;&nbsp; k<sub>QQ</sub>: <span id="kqqOut"></span></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Flat panels <input type="checkbox" id="flat-panels"></td>
                    <td>Laser X <input type="checkbox" id="X"></td>
                    <td>Laser Y <input type="checkbox" id="Y"></td>
                    <td>Laser Z <input type="checkbox" id="Z"></td>
                </tr>
                <tr>
                    <td>Vision RT Daily QA <input type="checkbox" id="vision"></td>
                    <td>DynR Daily Calibration <input type="checkbox" id="dynr"></td>
                    <td></td>
                    <td><span class="check-icon" id="icon-misc"></span></td>
                </tr>
            </tbody>
        </table>

        <div id="lynx" style="display:none">
            <h3>Lynx</h3>
            <table class="table table-striped">
                <thead>115 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L115-95" required> % <span class="check-icon" id="iconL115-95"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L115-99" required> % <span class="check-icon" id="iconL115-99"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L115-avg" required></td>
                        <td>Max: <input type="number" step="0.01" id="L115-max" required></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>145 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L145-95" required> % <span class="check-icon" id="iconL145-95"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L145-99" required> % <span class="check-icon" id="iconL145-99"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L145-avg" required></td>
                        <td>Max: <input type="number" step="0.01" id="L145-max" required></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>226 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L226-95" required> % <span class="check-icon" id="iconL226-95"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L226-99" required> % <span class="check-icon" id="iconL226-99"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L226-avg" required></td>
                        <td>Max: <input type="number" step="0.01" id="L226-max" required></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="lynxLR" style="display:none">
            <h3>Lynx</h3>
            <table class="table table-striped">
                <thead>70 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L70-95LR" required> % <span class="check-icon" id="iconL70-95LR"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L70-99LR" required> % <span class="check-icon" id="iconL70-99LR"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L70-avgLR" required></td>
                        <td>Max: <input type="number" step="0.01" id="L70-maxLR" required></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>115 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L115-95LR" required> % <span class="check-icon" id="iconL115-95LR"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L115-99LR" required> % <span class="check-icon" id="iconL115-99LR"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L115-avgLR" required></td>
                        <td>Max: <input type="number" step="0.01" id="L115-maxLR" required></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>145 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L145-95LR" required> % <span class="check-icon" id="iconL145-95LR"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L145-99LR" required> % <span class="check-icon" id="iconL145-99LR"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L145-avgLR" required></td>
                        <td>Max: <input type="number" step="0.01" id="L145-maxLR" required></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>226 MeV</thead>
                <tbody>
                    <tr>
                        <td>Gamma <95%: <input type="number" step="0.01" id="L226-95LR" required> % <span class="check-icon" id="iconL226-95LR"></span></td>
                        <td>Gamma <99%: <input type="number" step="0.01" id="L226-99LR" required> % <span class="check-icon" id="iconL226-99LR"></span></td>
                        <td>Average: <input type="number" step="0.01" id="L226-avgLR" required></td>
                        <td>Max: <input type="number" step="0.01" id="L226-maxLR" required></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="mlic" style="display:none">
            <h3>MLIC</h3>
            <table class="table table-striped">
                <thead>
                    100 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC100" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC100refR"></span></td>
                        <td><span id="MLIC100out"></span><span class="check-icon" id="iconMLIC100"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    170 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC170" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC170refR"></span></td>
                        <td><span id="MLIC170out"></span><span class="check-icon" id="iconMLIC170"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    226 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC226" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC226refR"></span></td>
                        <td><span id="MLIC226out"></span><span class="check-icon" id="iconMLIC226"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="mlicLR" style="display:none">
            <h3>MLIC</h3>
            <table class="table table-striped">
                <thead>
                    70 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC70LR" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC70refRLR"></span></td>
                        <td><span id="MLIC70outLR"></span><span class="check-icon" id="iconMLIC70LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    100 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC100LR" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC100refRLR"></span></td>
                        <td><span id="MLIC100outLR"></span><span class="check-icon" id="iconMLIC100LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    170 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC170LR" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC170refRLR"></span></td>
                        <td><span id="MLIC170outLR"></span><span class="check-icon" id="iconMLIC170LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    226 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Range [g/cm2]</td>
                        <td><input type="number" step="0.01" id="MLIC226LR" required></td>
                        <td>Reference range [g/cm2]: <span id="MLIC226refRLR"></span></td>
                        <td><span id="MLIC226outLR"></span><span class="check-icon" id="iconMLIC226LR"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="komora" style="display:none">
            <h3>Davka</h3>
            <table class="table table-striped">
                <thead>
                    100 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K100-nC" required></td>
                        <td>&nbsp;&nbsp; IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K100-mu" required></td>
                        <td>&nbsp;&nbsp; Reference dose: <span id="K100refD"></span> Gy; &nbsp;&nbsp; Calculated dose: <span id="K100outD"></span> Gy</td>
                        <td><span id="K100out"></span><span class="check-icon" id="iconK100"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    170 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K170-nC" required></td>
                        <td>&nbsp;&nbsp; IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K170-mu" required></td>
                        <td>&nbsp;&nbsp; Reference dose: <span id="K170refD"></span> Gy; &nbsp;&nbsp; Calculated dose: <span id="K170outD"></span> Gy</td>
                        <td><span id="K170out"></span><span class="check-icon" id="iconK170"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    226 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K226-nC" required></td>
                        <td>&nbsp;&nbsp; IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K226-mu" required></td>
                        <td>&nbsp;&nbsp; Reference dose: <span id="K226refD"></span> Gy; &nbsp;&nbsp; Calculated dose: <span id="K226outD"></span> Gy</td>
                        <td><span id="K226out"></span><span class="check-icon" id="iconK226"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="komoraLR" style="display:none">
            <h3>Davka</h3>
            <table class="table table-striped">
                <thead>
                    70 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K70-nCLR" required></td>
                        <td>IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K70-muLR" required></td>
                        <td>Reference dose: <span id="K70refDLR"></span></td> Gy; Calculated dose:
                        <span id="K70outDLR"></span> Gy</td>
                        <td><span id="K70outLR"></span><span class="check-icon" id="iconK70LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    100 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K100-nCLR" required></td>
                        <td>IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K100-muLR" required></td>
                        <td>Reference dose: <span id="K100refDLR"></span> Gy; Calculated dose: <span id="K100outDLR"></span> Gy</td>
                        <td><span id="K100outLR"></span><span class="check-icon" id="iconK100LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    170 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K170-nCLR" required></td>
                        <td>IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K170-muLR" required></td>
                        <td>Reference dose: <span id="K170refDLR"></span> Gy; Calculated dose: <span id="K170outDLR"></span> Gy</td>
                        <td><span id="K170outLR"></span><span class="check-icon" id="iconK170LR"></span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                    226 MeV
                </thead>
                <tbody>
                    <tr>
                        <td>Chamber response [nC]</td>
                        <td><input type="number" step="0.001" id="K226-nCLR" required></td>
                        <td>IC2 [MU]</td>
                        <td><input type="number" step="0.001" id="K226-muLR" required></td>
                        <td>Reference dose: <span id="K226refDLR"></span> Gy; Calculated dose: <span id="K226outDLR"></span> Gy</td>
                        <td><span id="K226outLR"></span><span class="check-icon" id="iconK226LR"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" id="submit" value="Submit">
    </form>
</body>


<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript" src="{% static 'reg.js' %}"></script>
<script>
    var gtr = 2;
    K100ref = 0.10908;
    K170ref = 0.10539;
    K226ref = 0.1068;

    MLIC100ref = 7.69;
    MLIC170ref = 19.61;
    MLIC226ref = 31.90;

    var datacheck = "{{ datacheck }}";
    var reload = "{{reload}}"
    console.log("{{reload.temperature}}")

</script>

<script>
    function greet()
    {
          alert('hello');
    }

</script>



{% endblock %}