{% extends "daily_QA/base.html" %}

{% block content %}

<h2>Daily QA Test</h2>

<form enctype="multipart/form-data" action="{% url 'daily' %}" method="POST">

<!--<form action="" method="POST">-->
    {% csrf_token %}

        
    <!-- ----Daily test hlavicka---- -->

    <div class="form-group">
        <label for="date_added">Select today's date: </label>
        </br> 
        {{ dailytestform.date_added }}

    </div>

    <label for="treatment-room-select">Select Treatment Room:</label>
    </br>
    <select name="treatment-room">
        <option disabled selected value> -- select value -- </option>
        <option value="1" id="FBTR1opt">FBTR1</option>
        <option value="2" id="GTR2opt">GTR2</option>
        <option value="3" id="GTR3opt">GTR3</option>
        <option value="4" id="GTR4opt">GTR4</option>
    </select> 

    </br>
    </br>
    
    <div class="form-group">
        <label for="lasers">Lasery: </label>
        {{ dailytestform.lasers }}
        </br>
    </div> 

    <div class="form-group">
        <label for="flatpanels_check">Flat panely: </label>
        {{ dailytestform.flatpanels_check }}
        </br>
    </div>

    <div class="form-group"> 
    <label for="visionrt_check">VisionRt check: </label>
        {{ dailytestform.visionrt_check }}
        </br>
    </div>  

    <div class="form-group"> 
        <label for="dynr">DynR: </label>
        {{ dailytestform.dynr }}
    </div>

    <tr>
        <td>Temperature [°C]: <input type="number" step="0.01" id="temperaturex" name="temperaturex" required><span class="check-icon" id="icon-temp" name="icon-temp"></span></td>
        </br>
        <td>Pressure [hPa]: <input type="number" step="0.01" id="pressurex" name="pressurex" required><span class="check-icon" id="icon-press"></span></td>
        </br>
        <td>k factor: <input type="number" step="0.01" id="k" name="k" required> <span class="check-icon" id="icon-k"></span></td>
        <td></td>
    </tr>
 <!--
    
    <div class="form-group">
        <label for="temperature">Temperature: </label>
        </br>
        {{ dailytestform.temperature }}
    </div>  
    

    <div class="form-group">
    <label for="pressure">Pressure: </label>
    </br>
    {{ dailytestform.pressure }}
    </div>
    -->
   
    <div class="form-group"> 
        <label for="input1">Input 1: </label>
        {{ inputform.input1 }}
    </div>
 <!--
    </br>
        <div id="hidden" style="display:none">
            <input type="number" name="temperaturex">
        </div>
          -->

    <input type="submit" value="Submit">
</form >

    

    <!--
    <div id="unhidden" style="display:block">
        <input type="number" name="temperaturex">
    </div>
    </br> 
    -->

<!--
<script>
    //var temp = document.getElementsById("{{ dailytestform.temperature }}").val;
    //var out = document.getElementById("output")
    //console.log(temp)

</script>
-->

{% endblock %}

