{% extends "daily_QA/base.html" %}

{% block content %}

<h2>Daily QA Test</h2>

<form  method="post">
    {% csrf_token %}
    
    <h6>Select today's date: </h6>
    {{ dailytestform.date_added }}
</br>

    <h6>Gantry: </h6>
    {{ dailytestform.gantry }}
</br>

    <h6>Lasery: </h6>
    {{ dailytestform.lasers }}
</br>
    
    <h6>Flat panely: </h6>
    {{ dailytestform.flatpanels_check }}
</br>

    <h6>Vision RT: </h6>
    {{ dailytestform.visionrt_check }}
</br>
    
    <h6>DynR: </h6>
    {{ dailytestform.dynr }}
</br>
    <h6>Temperature: </h6>
    {{ dailytestform.temperature }}

</br>
    <h6>Pressure: </h6>
    {{ dailytestform.pressure }}

</br>
    <h6>Choose lynx: </h6>
    {{ lynxform.index }}

</br>
</br>

    <input type="submit" value="Submit">
</form>

{% endblock %}