{% extends "daily_QA/base.html" %}

{% block content %}

<h2>Daily QA Test</h2>

<form action="{% url 'daily' %}" method="post">
    {% csrf_token %}

    <!-- ----Daily test hlavicka---- -->
    
    <h6>Select today's date: </h6>
    {{ dailytestform.date_added }}
    </br>


    <select name="treatment-room">
        <option disabled selected value> -- select value -- </option>
        <option value="1" id="FBTR1opt">FBTR1</option>
        <option value="2" id="GTR2opt">GTR2</option>
        <option value="3" id="GTR3opt">GTR3</option>
        <option value="4" id="GTR4opt">GTR4</option>
    </select> 

    <!-- 
        {{ dailytestform.gantry }}

        {{ dailytestform.gantry.value }} -->
    </br>

        <h6>Lasery: </h6>
        {{ dailytestform.lasers }}
    </br>
        
        <h6>Flat panely: </h6>
        {{ dailytestform.flatpanels_check }}
    </br>

        <h6>Vision RT: </h6>
        {{ dailytestform.visionrt_check }}
    </br>
        
        <h6>DynR: </h6>
        {{ dailytestform.dynr }}
    </br>
        <h6>Temperature:</h6>
        {{ dailytestform.temperature }}

    </br>
        <h6>Pressure: </h6>
        {{ dailytestform.pressure }}



    </br>
    <div id="hidden" style="display:none">
        <input type="number" name="temperaturex">
    </div>
    <div id="unhidden" style="display:block">
        <input type="number" name="temperaturex">
    </div>
    </br>

    <!-- ----Daily test devices---- -->


    




    <input type="submit" value="Submit">
</form>

<script>
    //var temp = document.getElementsById("{{ dailytestform.temperature }}").val;
    //var out = document.getElementById("output")
    //console.log(temp)

</script>

{% endblock %}

