{% extends 'daily_QA/base.html' %}

{% block content %}

<li class='btn btn-primary'>
    <a class='btn btn-primary' href="{% url 'daily_QA:daily' '1' %}">FBTR1</a>
  </li>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
  
  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{% url 'daily_QA:daily' '2' %}">GTR2</a>
  </li>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{% url 'daily_QA:daily' '3' %}">GTR3</a>
  </li>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

  <li class='btn btn-primary'>
    <a class='btn btn-primary' href="{% url 'daily_QA:daily' '4' %}">GTR4</a>
  </li>

  <br>
  <br>



{% endblock %}