<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'daily_QA:home' %}">PTC Physics QA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul> 
      <form class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
            <span class="navbar-text">
                You are logged in as {{ user.first_name }}  
            </span>

            <!-- Add space between text and button -->
            <div class="mr-2"></div>
            
            <a href="{% url 'daily_QA:logout' %}" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
        {% endif %}


      </form>
    </div>
  </nav>